@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-color {
    background-color: #2650D8;
}

.btn-disabled {
    background-color: #babdca;
}

.btn-light-blue {
    background-color: rgba(38, 80, 216, 0.30);
}

.btn-blue-100 {
    background-color: rgba(170, 190, 255, 0.20);
}

.btn-grey-640 {
    background-color: #646464;
}

.btn-grey-320 {
    background-color: #323232;
}

.btn-brown-200 {
    background-color: #D29F65;
}

.btn-light-red {
    background-color: #FFBDBD;
}

.txt-blue {
    color: #2650D8
}

.txt-red {
    color: #FF0F0F
}

.txt-grey {
    color: #7B7B7B
}

.txt-grey-600 {
    color: #686868
}

.txt-grey-400 {
    color: #434343
}

.txt-grey-840 {
    color:#878787
}

.txt-grey-590 {
    color:#595959
}

.txt-green {
    color: #29A962;
}

.txt-green-0E {
    color: #0EC937
}

.selectedFoodType {
    border-radius: 8px;
    background-color: rgba(38, 80, 216, 0.30);
}

.nav-bg {
    background-color: rgba(38, 80, 216, 0.06);
    filter: blur(2px);
}
  
.poppins-black {
    font-family: 'Poppins-Black';
}

.poppins-black-italic {
    font-family: 'Poppins-BlackItalic';
}

.poppins-bold {
    font-family: 'Poppins-Bold';
    line-height: 32px;
}

.poppins-bold-italic {
    font-family: 'Poppins-BoldItalic';
}

.poppins-extra-bold {
    font-family: 'Poppins-ExtraBold';
}

.poppins-extra-bold-italic {
    font-family: 'Poppins-ExtraBoldItalic';
}

.poppins-extra-light {
    font-family: 'Poppins-ExtraLight';
}

.poppins-extra-light-italic {
    font-family: 'Poppins-ExtraLightItalic';
}

.poppins-light {
    font-family: 'Poppins-Light';
}

.poppins-light-italic {
    font-family: 'Poppins-LightItalic';
}

.poppins-medium {
    font-family: 'Poppins-Medium';
}

.poppins-medium-italic {
    font-family: 'Poppins-MediumItalic';
}

.poppins-regular {
    font-family: 'Poppins-Regular';
}

.poppins-semibold {
    font-family: 'Poppins-SemiBold';
}

.poppins-semibold-italic {
    font-family: 'Poppins-SemiBoldItalic';
}

.poppins-thin {
    font-family: 'Poppins-Thin';
}

.poppins-thin-italic {
    font-family: 'Poppins-ThinItalic';
}
