@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-color {
    background-color: #2650D8;
}

.txt-blue {
    color: #2650D8
}

.nav-bg {
    background-color: rgba(38, 80, 216, 0.06);
    filter: blur(2px);
}

.white-btn {
    border: 1px solid rgba(214, 214, 214, 0.60);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
    background-color: rgba(38, 80, 216, 0.06);
}